body {
  background-image: url('../images/test6.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.btn {
    width: 65%;
}

.btn-top {
    margin-bottom: 0.5rem;
}

.bg-darker {
    background-color: rgb(16, 16, 16);
}

.card {
    margin-bottom: 1.5rem;
}

h1 {
    font-weight: bolder;
    color: whitesmoke;
}

.portfolio-body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.profile-pic {
    border-style: solid;
    border-width: 2px;
    border-color: rgb(255, 255, 255);
    border-radius: 50%;
    max-height: 250px;
    width: auto;
    height: auto;
    margin-bottom: 1rem;
    animation: shadow 5s infinite;
}

.project-container {
    padding: 1rem;
}

.text-box {
  border-style: solid;
  border-width: 2px;
  border-color: rgb(255, 255, 255);
  border-radius: 5px;
  background-color: rgba(16, 16, 16, 0.9);
}

@keyframes shadow {
  50% {box-shadow: 0px 0px 20px #ffea00;}
}